
/* Just effecting the background of center page */

* {
  color: black;
}


#main {
  background-color: rgb(87, 5, 5);
  padding: 20px;
  
}

body {
  background-color: rgb(53, 3, 3);
  width: 960px;
  margin:auto;
  font-size: 1.7em;
  font-family: monospace;
}

h1 {
  font-size: 3em;
  margin: 10px;
  padding: 5px;
  color: black;
}

h2 {
  font-size: 2.5em;
  margin: 10px;
  padding: 5px;
}

h3 {
  font-size: 2em;
  margin: 10px;
  padding: 5px;
}

#aboutMe {
  border: 4px solid black;
  background-color: rgb(85, 23, 97);
}

#quizTime {
  background-color: lightblue;
}

p {
  margin: 10px;
  padding: 5px;
}
.quiz {
  background-color: cornflowerblue;
  /* margin-left: 10%;
  margin-right: 10%; */
  margin: 5%;
  padding: 2%;
  font-family: fantasy;
}

.button {
  margin: 50px;
  padding: 50px;
  font-size: 1.17em;
  font-family: fantasy;
}




section div ol li {
  list-style-type:decimal;
  margin-left: 25px;
  padding-left: 25px;
  background-color: rgb(143, 226, 147);
}

section div ul li {
  list-style-type:square;
  margin-left: 25px;
  padding-left: 25px;
  background-color:rgb(27, 102, 27);
}

#o-list {
  background-color: rgb(236, 100, 38);
  border-width: 10px;
  border-style: solid;
  border-color: rgb(49, 136, 139);
  padding: 25px;
  margin: 10px;
  text-emphasis: rgba(209, 62, 86, 0.486);

}

#u-list {
  background-color: rgb(209, 136, 41);
  border-width: 10px;
  border-style: solid;
  border-color: rgb(49, 136, 139);
  padding: 25px;
  margin: 10px;
  text-emphasis: pink;

}

#e-list {
  background-color: rgb(192, 184, 65);
  border-width: 10px;
  border-style: solid;
  border-color: rgb(49, 136, 139);
  padding: 25px;
  margin: 10px;
  text-emphasis: pink;

}
